﻿@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Dashboard>

<div class="funnel-container"><canvas id="confetti-canvas"></canvas></div>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/funnel-graph-js@1.3.9/dist/css/main.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/funnel-graph-js@1.3.9/dist/css/theme.min.css">
<script src="https://unpkg.com/funnel-graph-js@1.3.9/dist/js/funnel-graph.min.js"></script>

<script src="./scripts/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="./scripts/lib/confetti-js/dist/index.min.js"></script>
<script src="./scripts/dashboard.js"></script>

<style>
	.funnel-container {
		background: #393862;
		width:100%;
	}
	body{
		margin:0 auto;
	}
</style>