﻿
<link rel="stylesheet" type="text/css" href="https://unpkg.com/funnel-graph-js@1.3.9/dist/css/main.min.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/funnel-graph-js@1.3.9/dist/css/theme.min.css">

<script src="https://unpkg.com/funnel-graph-js@1.3.9/dist/js/funnel-graph.min.js"></script>

<style>
	.funnel-container { background:#393862; margin-top:50px; }
		.funnel { margin:24px auto; }
		.funnel > div { padding:0 20px; box-sizing:border-box;  }
	

	@media all and (min-width:1570px) {
		.flexing { display:flex; justify-content:space-between; }
		.funnel-container { margin-top:0px; }
	}
</style>


<div ng-controller="MigrationReportController">
	<umb-box>
		<umb-box-content>
			<div class="flexing">
				<div>
					<div class="control-group">
						<label class="control-label">{{translations.MigrationReport_MigrationReportFromDate}}</label>
						<umb-flatpickr ng-model="model.fromDate"
									   options="model.dateConfig"
									   on-change="model.datePickerChange()">
						</umb-flatpickr>
						<label class="control-label">{{translations.MigrationReport_MigrationReportToDate}}</label>
						<umb-flatpickr ng-model="model.toDate"
									   options="model.dateConfig"
									   on-change="model.datePickerChange()">
						</umb-flatpickr>
					</div>
				</div>

				<div class="flex funnel-container">
					<div class="funnel">
					</div>
				</div>
			</div>

			<umb-box-header title=""></umb-box-header>
		</umb-box-content>
	</umb-box>
</div>
